strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
node-linker=hoisted

registry="http://localhost:4873/"
@xxxlgroup:registry="http://localhost:4873/"
# //nexus.xxxlgroup.com/repository/npm-kosmos-internal/:_authToken=${NODE_AUTH_TOKEN}
always-auth=true
